button{
    border: none;
    background-color: white;
    color: black;
    font-size: 0.7em;
    padding: 10px;
    font-family: consolas;
    /* position: fixed; */
}

select{
    color: black;
    background-color: white;
    border: none;
    border-radius: 6px;
    padding: 5px;
}

body{
    background-color: white;
}

.btn-con{
    /* position: fixed; */
    background-color: white;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid grey;
}

#bq{
    margin-top: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(50, 49, 49);
    padding: 10px;
    /* width: 40%;
    height: 25%; */
    font-style: italic;
    margin-left: 200px;
    border-left: 8px solid rgb(154, 152, 152);
}

/* #ediText{
    background-color: white;
    display: flex;
    margin-top: 0.6%;
    margin-left: 25%;
    padding: 20px;
    position: absolute;
    height: 90%;
    width:  50%;
} */

img{
    width: 15px;
    height: 10px;
}

#editor{
    background-color: white;
    text-align: left;
    margin-top: 9px;
    margin-left: 24%;
    /* position: absolute; */
    width: 8.5in;
    min-height: 11in;
  max-height: 11in;
  height: 11in;
    /* padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 6px; */
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    
}

#editor2
{
background-color: white;
text-align: left;
margin-top: 9px;
margin-left: 24%;
/* position: absolute; */
width: 8.5in;
min-height: 11in;
/* max-height: 11in; */
/* padding-left: 7px;
padding-right: 7px;
padding-bottom: 6px; */
/* padding: 10px; */
/* box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5); */
    
}
